
@{
    ViewBag.Title = "_BannerSlide";
}

<!-- banner slider-->
<div class="csslider infinity" id="slider1">
    <input type="radio" name="slides" checked="checked" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" />
    <input type="radio" name="slides" id="slides_3" />
    <ul class="banner_slide_bg">
        <li>
            <div class="w3ls_banner_txt">

                <h3 class="b-w3ltxt text-capitalize mt-md-4">
                    Think Different Bring Difference

                    改變資訊服務思維與做法，帶來差異化的成果！
                </h3>

                <a href="#about" class="btn btn-banner my-sm-3 mr-2">Read More</a>

            </div>
        </li>
        <li>
            <div class="w3ls_banner_txt">
                <h3 class="b-w3ltxt text-capitalize mt-md-4">提供專業技術人才派駐服務，滿足顧客資訊需求</h3>

                <a href="#about" class="btn btn-banner my-sm-3 mr-2">Read More</a>

            </div>
        </li>
        <li>
            <div class="w3ls_banner_txt">
                <h3 class="b-w3ltxt text-capitalize mt-md-4">提供離岸開發模式/資訊技術顧問服務/綜整性解決方案/軟體委外開發</h3>

                <a href="#about" class="btn btn-banner my-sm-3 mr-2">Read More</a>

            </div>
        </li>
    </ul>
    <div class="navigation">
        <div>
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
        </div>
    </div>
</div>
<!-- //banner slider-->
