
@{
    ViewBag.Title = "_Footer";
}
<!-- footer -->
<footer class="py-md-5 py-3">
    <div class="container py-md-5 py-3">
        <div class="row footer-grids">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-4">SHENGSEN</h4>
                <p class="mb-3">
                    統一編號：24662802<br>
                    傳真：02-87515733<br>
                    台北總公司電話：02-77093903
                </p>

            </div>
            <div class="col-lg-3 col-sm-6 mb-md-0 mb-sm-5 mb-4">
                <h4 class="mb-4">台北總公司</h4>
                <p><span class="fa mr-2 fa-map-marker"></span>114 台北市內湖區瑞光路513巷26號2樓之1<span></span></p>
                <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> 02-77093903 </p>

            </div>
            <div class="col-lg-2 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-4">台北科大研發中心</h4>
                <p><span class="fa mr-2 fa-map-marker"></span>106 台北市大安區新生南路一段1號<span></span></p>
                <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> 02-77093903 </p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h4 class="mb-4">聯絡我們</h4>
                <p class="mb-3">取得最新資訊</p>
                <form action="#" method="post" class="d-flex">
                    <input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
    <div class="container py-4">
        <div class=" text-center">
            <p>© 2018 聖森股份有限公司-Shengsen Corp <a href="http://w3layouts.com/"> W3layouts</a> </p>
        </div>
    </div>
</div>
<!-- //copyright -->
