
@{
    ViewBag.Title = "_Header";
}

<!-- header -->
<header>
    <div class="container">
        <!-- nav -->
        <nav class="py-3 d-lg-flex">
            <div id="logo">
                <h1> <a href="index.html"><span class="fa fa-rocket"></span> SHENGSEN聖森股份有限公司 </a></h1>
            </div>
            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu ml-auto mt-1">
                <li class="active"><a href="index.html">首頁</a></li>
                <li class=""><a href="#about">關於聖森</a></li>
                <li class=""><a href="#services">服務項目</a></li>
                <li class=""><a href="#portfolio">教育訓練</a></li>
                <li class=""><a href="#contact">聯絡我們</a></li>
                <li class="last-grid"><a href="#register">員工登入</a></li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
